<div class="table-container">
    <mat-table [dataSource]="dataSource"
               [matSortActive]="sortField()"
               [matSortDirection]="sortDirection()"
               matSort
               matSortDisableClear>
        @for (column of columns(); track column.columnDef) {
            <ng-container [cdkColumnDef]="column.columnDef"
                          [stickyEnd]="column.stickyEnd"
                          [sticky]="column.sticky">
                @if (shouldDisplayColumn(column)) {
                    <mat-header-cell *cdkHeaderCellDef
                                     [disabled]="!column.sortable"
                                     [mat-sort-header]="column.columnDef">
                        {{ column.header }}
                    </mat-header-cell>

                    <mat-cell (click)="onCellClick(row, column)"
                              *cdkCellDef="let row"
                              [class.mat-cell-clickable]="column.isClickable">
                        <span>{{ getColumnCellValue(row, column) }}</span>
                    </mat-cell>

                    <mat-footer-cell (click)="onFooterCellClicked(column)"
                                     *cdkFooterCellDef
                                     [class.mat-cell-clickable]="isFooterClickable(column)">
                        <span>{{ getFooterCellValue(column) }}</span>
                    </mat-footer-cell>
                } @else if (shouldShowSyncColumn(column)) {
                    <mat-header-cell *cdkHeaderCellDef>Sync</mat-header-cell>

                    <mat-cell *cdkCellDef="let row"
                              [matTooltipDisabled]="!isSyncDisabled(row, column)"
                              matTooltip="Task already synced with JIRA server!">
                        <button (click)="onSyncAction(row)"
                                [disabled]="isSyncDisabled(row, column)"
                                aria-label="Sync task to Jira"
                                color="warn"
                                type="button"
                                mat-icon-button>
                                <mat-icon>sync</mat-icon>
                            </button>
                    </mat-cell>

                    <mat-footer-cell *cdkFooterCellDef/>
                }
            </ng-container>
        }
        <ng-container cdkColumnDef="select">
            <mat-header-cell *cdkHeaderCellDef>
                <mat-checkbox (change)="onMasterToggle()"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"/>
            </mat-header-cell>

            <mat-cell *cdkCellDef="let row">
                <mat-checkbox (change)="onSelectionToggle(row)"
                              (click)="$event.stopPropagation()"
                              [checked]="selection.isSelected(row)"/>
            </mat-cell>

            <mat-footer-cell *cdkFooterCellDef/>
        </ng-container>

        <ng-container cdkColumnDef="remove">
            <mat-header-cell *cdkHeaderCellDef>Remove</mat-header-cell>

            <mat-cell *cdkCellDef="let row">
                <button (click)="onRemoveAction(row)"
                        aria-label="Remove row"
                        color="warn"
                        mat-icon-button
                        type="button">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>

            <mat-footer-cell *cdkFooterCellDef/>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns(); sticky: stickyHeader()"/>

        <mat-footer-row [style.display]="shouldShowFooter() ? '' : 'none'"
                        *cdkFooterRowDef="displayedColumns(); sticky: stickyFooter()"/>

        <mat-row (click)="onRowClick(row)"
                 *matRowDef="let row; columns: displayedColumns()"
                 [class.selected]="selection.isSelected(row)"/>
    </mat-table>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
               aria-label="Select page"
               showFirstLastButtons/>
