:host {
  .app-toolbar {
    display: flex;
    align-items: center;
    column-gap: 8px;

    .time-spent {
      display: flex;
      color: white;
      text-decoration: none;
      font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
      letter-spacing: normal;

      &:hover,
      &:active {
        color: rgba(255, 255, 255, 0.85);
      }
    }

    .active-task {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .spacer {
      flex: 1 1 auto;
    }
  }

  ::ng-deep .mat-mdc-progress-bar {
    z-index: 100;
    margin-bottom: -4px;
  }
}
