**
!.docker/
!.docker/node/
!.docker/node/**
!backend-node/
!backend-node/**
backend-node/node_modules/
backend-node/dist/
backend-node/test/
!frontend/
!frontend/**
frontend/node_modules/
frontend/dist/
frontend/coverage/
frontend/.angular/
frontend/out-tsc/
**/.env*
**/.npmrc
**/.yarnrc*
**/*.crt
**/*.key
**/*.pem
**/*.p12
**/*.pfx
**/*.sqlite*
**/.DS_Store
