**

!.docker/
!.docker/assets-init/
!.docker/assets-init/**
!.docker/nginx/
!.docker/nginx/**
!.docker/php-fpm/
!.docker/php-fpm/**

!backend/
!backend/**
!frontend/
!frontend/**

**/.env*
**/.npmrc
**/.yarnrc*
**/*.crt
**/*.key
**/*.p12
**/*.pem
**/*.pfx

backend/.*
backend/cghooks.lock
backend/config/secrets/prod/prod.decrypt.private.php
backend/phpstan.neon
backend/public/bundles/
backend/var/
backend/docs/
backend/vendor/

frontend/.*
frontend/bazel-out/
frontend/coverage/
frontend/dist/
frontend/docs/
frontend/node_modules/
frontend/out-tsc/
frontend/tmp/
frontend/typings/

**/.DS_Store
**/Thumbs.db
