:host {
  .table-container {
    max-width: 100%;
    width: 100%;
    overflow: auto;

    ::ng-deep {
      .mat-mdc-table {
        min-width: 100%;
        width: max-content;
      }

      .mat-mdc-header-cell, .mat-mdc-footer-cell, .mat-mdc-cell {
        min-width: 80px;
        text-align: center;
        justify-content: center;

        &.mat-cell-clickable {
          cursor: pointer;
        }
      }
    }
  }
}

