<div class="dialog-title" mat-dialog-title>
  <h2>Time Log list for task {{ data.task.name }}</h2>

  <button (click)="onCancel()"
          aria-label="close dialog"
          mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <mat-toolbar>
    <button (click)="onAddTimeLogClick()"
            color="primary"
            mat-button>
      <mat-icon>add</mat-icon>
      Add Time Log
    </button>
  </mat-toolbar>

  <app-shared-table (cellClicked)="onCellClick($event)"
                    (removeAction)="onRemoveAction($event)"
                    [columns]="columns"
                    [data]="data.task.timeLogs"
                    [enableFooter]="true"
                    [enableRemoveAction]="true"
                    [isSelectable]="false"
                    [stickyFooter]="true"
                    [stickyHeader]="true"
                    sortDirection="desc"
                    sortField="startTime"></app-shared-table>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="onCancel()" mat-button>Cancel</button>
  <button (click)="onSave()" mat-button>Save changes</button>
</mat-dialog-actions>
