<div class="settings-container">
    <settings-tag-management-configurator (tagChange)="onTagManagementChange($event)"
                                          [disabled]="isLoading()"
                                          [tags]="tags()"/>

    <settings-report-configurator (reportSettingsChange)="onReportSettingsChange($event)"
                                  [disabled]="isLoading()"
                                  [reportSettings]="reportSettings()"/>

    <settings-jira-api-configurator (settingsChange)="onSettingsChange($event)"
                                    [disabled]="isLoading()"
                                    [settings]="jiraApiSettings()"/>

    <settings-timezone-configurator (settingsChange)="onSettingsChange($event)"
                                    [disabled]="isLoading()"
                                    [settings]="jiraUserSettings()"/>
</div>
