<form (submit)="onCreate($event)">
    <mat-form-field>
        <input [formField]="createTaskForm.name"
               matInput
               placeholder="Task name"/>
    </mat-form-field>

    <mat-form-field>
        <mat-select (valueChange)="onTagsChange($event)"
                    [compareWith]="isSameTag"
                    [value]="createTaskFormModel().tags"
                    multiple
                    placeholder="Tags">
            @for (tag of tags$ | async; track tag.id) {
                <mat-option [value]="tag">
                    {{ tag.name }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <button [disabled]="!createTaskForm().valid() || (isLoading$ | async)"
            mat-raised-button
            type="submit">
        Create
    </button>
</form>

<tasks-settings-toggle (openSettingsDialog)="onOpenSettingsDialog()"/>
