<form (ngSubmit)="createTask()"
      [formGroup]="createTaskForm">
  <mat-form-field>
    <mat-label>Task</mat-label>
    <input formControlName="name"
           matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea formControlName="description"
              matInput></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tags</mat-label>
    <mat-select formControlName="tags" multiple>
      <mat-option *ngFor="let tag of tags" [value]="tag.value">
        {{tag.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button [disabled]="!createTaskForm.valid || (isLoading$ | async)"
          color="primary"
          mat-raised-button>
    Create task
  </button>
</form>

<app-task-list (reload)="onReload()"
               (remove)="onRemove($event)"
               (update)="onUpdate($event)"
               [isLoading]="isLoading$ | async"
               [tasks]="tasks$ | async"></app-task-list>
