<tasks-view-header>
    <form (ngSubmit)="onCreate()"
          [formGroup]="createTaskForm">
        <mat-form-field>
            <mat-label>Task</mat-label>
            <input formControlName="name"
                   matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea formControlName="description"
                      matInput></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Tags</mat-label>
            <mat-select formControlName="tags" multiple>
                <mat-option *ngFor="let tag of tags$ | async" [value]="tag">
                    {{tag.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button [disabled]="!createTaskForm.valid || (isLoading$ | async)"
                color="primary"
                mat-raised-button>
            Create task
        </button>
    </form>
</tasks-view-header>

<tasks-task-list *ngIf="tasks$ | async as tasks">
    <tasks-task (action)="onAction($event)"
              (createTimeLog)="onCreateTimeLog($event)"
              (remove)="onRemove($event)"
              (removeTimeLog)="onRemoveTimeLog($event)"
              (update)="onUpdate($event)"
              (updateTimeLog)="onUpdateTimeLog($event)"
              *ngFor="let task of tasks"
              [isLoading]="isLoading$ | async"
              [task]="task">
    </tasks-task>
</tasks-task-list>
