<form (ngSubmit)="onCreate()"
      [formGroup]="createTaskForm">
    <mat-form-field>
        <input formControlName="name"
               matInput
               placeholder="Task name">
    </mat-form-field>

    <mat-form-field>
        <mat-select formControlName="tags"
                    multiple
                    placeholder="Tags">
            <mat-option *ngFor="let tag of tags$ | async" [value]="tag">
                {{ tag.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button [disabled]="!createTaskForm.valid || (isLoading$ | async)"
            color="primary"
            mat-raised-button
            type="submit">
        Create
    </button>
</form>

<tasks-settings-toggle (openSettingsDialog)="onOpenSettingsDialog()">
</tasks-settings-toggle>
