:host {
  .mat-mdc-card-content {
    report-settings-controls {
      --display-v: flex;
      --flex-direction-v: column;
      --gap-v: 10px;
      --justify-content-v: initial;
      --align-items-v: initial;

      ::ng-deep .mat-mdc-form-field {
        width: 100%;
      }
    }
  }
}
