<form (submit)="onSaveFormData($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>User Time Zone</mat-card-title>
        </mat-card-header>

        @if (settings()) {
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Time Zone</mat-label>

                    <mat-select (valueChange)="onTimezoneChange($event)"
                                [disabled]="userSettingsForm().disabled()"
                                [value]="userSettingsFormModel().timezone">
                        @for (timezone of timezones; track timezone) {
                            <mat-option [value]="timezone">{{ timezone }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Locale</mat-label>

                    <mat-select (valueChange)="onLocaleChange($event)"
                                [disabled]="userSettingsForm().disabled()"
                                [value]="userSettingsFormModel().locale">
                        @for (locale of locales; track locale.value) {
                            <mat-option [value]="locale.value">{{ locale.label }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
        }

        <mat-card-actions>
            <button (click)="onCancel()"
                    [disabled]="userSettingsForm().disabled()"
                    aria-label="Cancel"
                    color="danger"
                    mat-raised-button
                    type="button">
                Cancel
            </button>

            <button [disabled]="userSettingsForm().disabled() || !userSettingsForm().dirty()"
                    aria-label="Save"
                    color="primary"
                    mat-raised-button
                    type="submit">
                Save
            </button>
        </mat-card-actions>
    </mat-card>
</form>
