<form (ngSubmit)="onUpdate(task)"
      [formGroup]="formGroup">
  <mat-card>
    <mat-card-title>
      <ng-container *ngIf="!editMode">
        <span>{{task.name}}</span>
        <mat-chip-list aria-label="Task tags">
          <mat-chip *ngFor="let tag of task.tags">{{tag.name}}</mat-chip>
        </mat-chip-list>
      </ng-container>

      <mat-form-field *ngIf="editMode">
        <mat-label>Task</mat-label>
        <input formControlName="name"
               matInput>
      </mat-form-field>

      <mat-form-field *ngIf="editMode">
        <mat-label>Tags</mat-label>
        <mat-select [compareWith]="isSameTag" formControlName="tags" multiple>
          <mat-option *ngFor="let tag of tags$ | async" [value]="tag">
            {{tag.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-title>

    <mat-card-content>
      <ng-container *ngIf="!editMode">
        {{task.description}}
      </ng-container>

      <mat-form-field *ngIf="editMode">
        <mat-label>Description</mat-label>
        <textarea formControlName="description"
                  matInput></textarea>
      </mat-form-field>

      <span *ngIf="task.timeLogged > 59">
        Total Time Worked: {{ task.timeLogged | readableTime }}
      </span>
    </mat-card-content>

    <mat-card-actions>
      <button (click)="toggleEditMode()"
              *ngIf="!editMode"
              [disabled]="isLoading"
              aria-label="Edit"
              mat-icon-button
              type="button">
        <mat-icon>edit</mat-icon>
      </button>

      <button (click)="toggleEditMode()"
              *ngIf="editMode"
              aria-label="Edit"
              mat-icon-button
              type="button">
        <mat-icon>cancel</mat-icon>
      </button>

      <button *ngIf="editMode"
              [disabled]="!formGroup.valid"
              aria-label="Update"
              mat-icon-button
              type="submit">
        <mat-icon>save</mat-icon>
      </button>

      <button (click)="onRemove(task)"
              [disabled]="isLoading"
              aria-label="Remove"
              color="warn"
              mat-icon-button
              type="button">
        <mat-icon>delete</mat-icon>
      </button>

      <button (click)="onToggleTimeLog(task)"
              [disabled]="isLoading"
              aria-label="Start Timer"
              color="primary"
              mat-icon-button
              type="button">
        <mat-icon>timer</mat-icon>
        <mat-icon>{{isTimeLogRunning(task) ? 'pause' : 'play_arrow'}}</mat-icon>
      </button>

      <button (click)="onOpenTimeLogsModal(task)"
              [disabled]="isLoading"
              aria-label="Remove"
              color="warn"
              mat-icon-button
              type="button">
        <mat-icon>history</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
