<mat-form-field>
    @if (showLabel()) {
        <mat-label>Tags</mat-label>
    }

    <mat-select (valueChange)="tagValueChange($event)"
                [disabled]="reportTagForm().disabled()"
                [value]="reportTagFormModel().tags"
                multiple
                placeholder="Tags">
        @for (tag of tags$ | async; track $index) {
            <mat-option [value]="tag">
                {{ tag.name }}
            </mat-option>
        }
    </mat-select>
</mat-form-field>
