.app-toolbar {
  a.app-name {
    margin-left: 8px;
    text-decoration: none;
    cursor: pointer;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    color: white;

    &:hover,
    &:active {
      color: rgba(255, 255, 255, 0.85);
    }
  }

  .spacer {
    flex: 1 1 auto;
  }
}
