<mat-card>
  <mat-card-title>{{task.name}}</mat-card-title>

  <mat-card-content>Task desc</mat-card-content>

  <mat-card-actions>
    <button (click)="onUpdate(task)" aria-label="Edit" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>

    <button (click)="onRemove(task)" aria-label="Remove" color="warn" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>

    <button (click)="onToggleTimeLog(task)" aria-label="Start Timer" color="primary" mat-icon-button>
      <mat-icon>timer</mat-icon>
      <mat-icon>{{task.lastTimeLogId ? 'pause' : 'play_arrow'}}</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
