$app-menu-height: 35px;

.base-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .app-sidenav-container {
    flex: 1;

    .mat-sidenav-content {
    }
  }
}
