<mat-form-field *ngIf="reportMode === 'dateRange'">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
        <input (dateChange)="onStartDateChange($event)"
               [formControl]="startDateFormControl"
               matStartDate
               placeholder="Start date">
        <input (dateChange)="onEndDateChange($event)"
               [formControl]="endDateFormControl"
               matEndDate
               placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle [for]="picker"
                           matSuffix>
    </mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<mat-form-field *ngIf="reportMode === 'date'">
    <mat-label>Enter a date</mat-label>
    <input (dateChange)="onDateChange($event)"
           [formControl]="dateFormControl"
           [matDatepicker]="picker"
           matInput>
    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
