<div class="settings-container">
    <!--    <app-task-list-configurator [disabled]="isLoading$ | async"></app-task-list-configurator>-->

    <app-report-configurator (dateChange)="onDateChange($event)"
                             (endDateChange)="onEndDateChange($event)"
                             (hideUnreportedTasksChange)="onHideUnreportedTasksChange($event)"
                             (reportModeChange)="onReportModeChange($event)"
                             (showWeekendsChange)="onShowWeekendsChange($event)"
                             (startDateChange)="onStartDateChange($event)"
                             (tagChange)="onTagChange($event)"
                             [disabled]="isLoading$ | async"
                             [reportSettings]="reportSettings$ | async">
    </app-report-configurator>

    <app-jira-api-configurator (settingsChange)="onSettingsChange($event)"
                               [disabled]="isLoading$ | async"
                               [settings]="jiraApiSettings$ | async">
    </app-jira-api-configurator>
</div>
