:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6px;

  --mat-form-field-container-vertical-padding: 8px;
  --mat-form-field-container-height: 40px;

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 40px;
  }
}

::ng-deep .report-menu-dialog {
  padding: 8px;
}
